* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif !important;
    padding: 0;
    margin: 0;
}

section {
    padding: 25px;
    position: relative;
    top: 100px;
}

#navbar {
    background-color: black;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    height: 50px;
    margin: 25px 25px;
    display: inline-block;
}

.menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 25px 25px 18px;
}

#menu-icon {
    height: 50px;
}

#menu-icon.active {
    display: none;
}

#x-icon {
    height: 50px;
    display: none;
}

#x-icon.active {
    display: block;
}

#sub-menu {
    width: 0px;
    height: 100vh;
    position: absolute;
    float: right;
    background-color: black;
    text-align: left;
    right: 0;
    list-style: none;
    font-size: 25px;
    color: white;
    padding: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

a.menu-li {
    margin: 25px 0;
    padding: 0 25px;
    display: block;
    color: white;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1000;
}

a.menu-li:hover::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 50px;
    background-color: rgb(72, 172, 192);
    top: 22px;
    z-index: -1;
}

#landing {
    height: calc(100vh - 60px);
    background-color: black;
    color: white;
}

#hello::before {
    height: 10px;
    width: 50px;
    background-color: rgb(72, 172, 192);
    position: absolute;
    content: "";
    top: -25px;
}

#hello {
    position: relative;
    margin-top: 200px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 40px;
}

#intro {
    margin-top: 0;
}

h2.heading {
    font-weight: 800;
    font-size: 25px;
}

#work-ctn {
    display: flex;
    justify-content: space-between;
}

#portfolio-page {
    width: 300px;
}

#portfolio-page #work-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#portfolio-page div a {
    width: 130px;
    height: 130px;
}

a.work-example {
    display: inline-flex;
    background-color: black;
    height: 160px;
    width: 160px;
    margin: 5px;
    transition: .5s;
    background-size: 200px;
    background-position: center;
}

a.work-example:hover {
    box-shadow: 0 0 15px #555;
}

#easterlow {
    background-image: url(./Assets/easterlow/Cover.jpg);
}

#easterlow:hover {
    background-image: url(./Assets/easterlow/Hover.jpg);
}

#explore {
    background-image: url(./Assets/explore/Cover.jpg);
}

#explore:hover {
    background-image: url(./Assets/explore/Hover.jpg);
}

#scoops {
    background-image: url(./Assets/scoops/Cover.jpg);
}

#scoops:hover {
    background-image: url(./Assets/scoops/Hover.jpg);
}

#visitNam {
    background-image: url(./Assets/visitNam/Cover.jpg);
}

#visitNam:hover {
    background-image: url(./Assets/visitNam/Hover.jpg);
}

#seed {
    background-image: url(./Assets/seed/Cover.jpg);
}

#seed:hover {
    background-image: url(./Assets/seed/Hover.jpg);
}

#exhibit {
    background-image: url(./Assets/exhibit/Cover.jpg);
}

#exhibit:hover {
    background-image: url(./Assets/exhibit/Hover.jpg);
}

#handle {
    background-image: url(./Assets/handle/Cover.jpg);
}

#handle:hover {
    background-image: url(./Assets/handle/Hover.jpg);
}

#figureEight {
    background-image: url(./Assets/figureEight/Cover.jpg);
}

#figureEight:hover {
    background-image: url(./Assets/figureEight/Hover.jpg);
}

#visualisations {
    background-image: url(./Assets/visualisations/Cover.jpg);
}

#visualisations:hover {
    background-image: url(./Assets/visualisations/Hover.jpg);
}

#technical {
    background-image: url(./Assets/technical/Cover.jpg);
}

#technical:hover {
    background-image: url(./Assets/technical/Hover.jpg);
}

#about {
    background-color: grey;
    color: white;
    text-align: center;
}

#about-page {
    text-align: center;
}

.profile-pic {
    height: 125px;
    width: 125px;
    background-image: url(Assets/profile-pic.jpg);
    background-size: contain;
    display: inline-block;
}

p.about-me {
    display: inline-block;
    margin: 20px;
    position: relative;
    bottom: 20px;
}

.know-more {
    margin: auto;
    display: block;
    padding: 10px;
    border-radius: 22px;
    width: 200px;
    border: none;
    box-shadow: 3px 3px 7px #555;
    background-color: white;
    color: #555;
    font-weight: 600;
}

#contact-page {
    text-align: center;
}

h4.contact-info {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 20px;
}

input.input-sm {
    height: 44px;
    width: 350px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid rgb(72, 172, 192);
    color: #555;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input.input-sm:focus {
    box-shadow: 5px 5px 10px rgb(72, 172, 192);
}

#message {
    height: 350px;
    width: 350px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid rgb(72, 172, 192);
    color: #555;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#message:focus {
    box-shadow: 5px 5px 10px rgb(72, 172, 192);
}

.contact-btn {
    border: none;
    background-color: rgb(72, 172, 192);
    width: 150px;
    height: 50px;
    color: white;
    font-weight: 900;
    border-radius: 25px;
    cursor: pointer;
}

.contact-btn:hover {
    opacity: .75;
}

#paypal-btn {
    margin: 50px;
    float: left;
}

footer {
    height: 50px;
    width: 100vw;
    background-color: black;
    text-align: right;
    position: relative;
    top: 100px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.social-media {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

.social-media-icon {
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    margin: 10px;
    border-radius: 50%;
    display: inline-block;
    z-index: 10;
}

#facebook {
    background-image: url(./Assets/Logo/FB\ Logo\ Circular\ -\ white.png);
}

#instagram {
    background-image: url(./Assets/Logo/Instagram\ Logo\ Circular\ -\ white.png);
}

#linkedin {
    background-image: url(./Assets/Logo/LinkedIn\ Logo\ Circular\ -\ white.png);
}

.logo-small {
    height: 20px;
    margin: 15px 35px 0;
}

.copy {
    color: white;
    font-size: 10px;
    margin-top: 18px;
}

#project-work {
    text-align: center;
}

.project-title {
    color: black;
    font-weight: 900;
    margin-bottom: 25px;
}

.work {
    width: 1400px;
    margin: 10px auto 15px;
}

.thanks {
    font-weight: 600;
    margin-top: 15px;
}

/* Responsive Rules */

@media screen and (min-width: 700px) {

    #landing {
        width: 400px;
        background-color: black;
        float: left;
    }

    #portfolio {
        display: inline-block;
        width: 1000px;
        height: 100vh;
        padding: 15px;
    }

    a.work-example {
        width: 300px;
        height: 300px;
    }

    #about {
        display: none;
    }

    #contact {
        display: none;
    }

    #easterlow {
        background-size: 400px;
    }

    #explore {
        background-size: 400px;
    }
    
    #scoops {
        background-size: 400px;
    }

    #visitNam {
        background-size: 400px;
    }

    #seed {
        background-size: 400px;
    }
    
    #exhibit {
        background-size: 400px;
    }
    
    #handle {
        background-size: 400px;
    }
    
    #figureEight {
        background-size: 400px;
    }

    #visualisations {
        background-size: 400px;
    }

    #technical {
        background-size: 400px;
    }

}

@media screen and (min-width: 1400px) {

    #landing {
        height: calc(100vh);
    }

    #portfolio {
        min-height: 830px;
        width: calc(100vw - 600px);
    }

    a.work-example {
        width: 400px;
        height: 820px;
    }

    h2.heading {
        display: none;
    }
    
    #portfolio p {
        display: none;
    }

    .profile-pic {
        width: 250px;
        height: 250px;
        display: block;
        margin: 0 auto 25px;
    }

    .profile-pic::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 100px;
        background-color: rgb(72, 172, 192);
        transform: translateX(-50px);
        top: 300px;
    }

    .about-me {
        display: block;
        margin-top: 25px;
    }

    #portfolio-page div a {
        width: 400px;
        height: 400px;
    }

    #portfolio-page {
        width: 1700px;
        margin: 0 auto;
    }

}