body {
    font-family: 'Poppins', sans-serif !important;
}

#navbar {
    background-color: black;
    height: 100px;
}

.logo {
    height: 50px;
    margin: 25px 25px;
}

#landing {
    height: 100vh;
    background-color: grey;
    color: white;
    padding: 25px;
}

#intro {
    margin-top: 200px;
    font-weight: 600;
}

#portfolio {
    padding: 25px;
}

h2.heading {
    font-weight: 600;
    font-size: 25px;
}